<?xml version="1.0" encoding="utf-8" ?>
<!--
 Copyright 2015 codecentric AG

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<ModuleConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/module_config.xsd">
  <ModuleConfiguration language="en">
    <ResourceType>
      <TypeName><![CDATA[myFeature]]></TypeName>
      <Folder>
        <Name><![CDATA[myFeature_elements]]></Name>
      </Folder>
      <NamePattern><![CDATA[myFeature_%(number).html]]></NamePattern>
      <Order><![CDATA[80]]></Order>
    </ResourceType>
  </ModuleConfiguration>
  <ModuleConfiguration language="en">
    <ResourceType>
      <TypeName><![CDATA[mySecondFeature]]></TypeName>
      <Folder>
        <Name><![CDATA[mySecondFeature_elements]]></Name>
      </Folder>
      <NamePattern><![CDATA[mySecondFeature_%(number).html]]></NamePattern>
      <Order><![CDATA[81]]></Order>
    </ResourceType>
  </ModuleConfiguration>
  <ModuleConfiguration language="de">
    <ResourceType>
      <TypeName><![CDATA[myFeature]]></TypeName>
      <Folder>
        <Name><![CDATA[myFeature_elements]]></Name>
      </Folder>
      <NamePattern><![CDATA[myFeature_%(number).html]]></NamePattern>
      <Order><![CDATA[80]]></Order>
    </ResourceType>
  </ModuleConfiguration>
  <ModuleConfiguration language="de">
    <ResourceType>
      <TypeName><![CDATA[mySecondFeature]]></TypeName>
      <Folder>
        <Name><![CDATA[mySecondFeature_elements]]></Name>
      </Folder>
      <NamePattern><![CDATA[mySecondFeature_%(number).html]]></NamePattern>
      <Order><![CDATA[81]]></Order>
    </ResourceType>
  </ModuleConfiguration>
</ModuleConfigurations>